<div class="table-filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'TABLE.filter' | translate}}">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container [matColumnDef]="isActionColumn(dataSubject)"
    *ngFor="let dataSubject of objectKeys(tableSettings.columnHeaders)">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'COMMON.' + tableSettings.columnHeaders[dataSubject].value | translate }} </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="tableSettings.columnHeaders[dataSubject].isClickable ? 'clickable-cell' : ''"
      (click)="tableSettings.columnHeaders[dataSubject].isClickable && cellClicked(element)">
      {{element[dataSubject] | dynamicPipe: tableSettings.columnHeaders[dataSubject].pipe: tableSettings.columnHeaders[dataSubject].pipeArgs}}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef [hidden]="!isUserLoggedIn"> {{'TABLE.actions' | translate}} </th>
    <td mat-cell *matCellDef="let element" [hidden]="!isUserLoggedIn">
      <i *ngFor="let btn of tableSettings.actionButtons" (click)="onActionButtonClicked(element, btn.actionType)"
        [ngClass]="btn.classes" [title]="btn.title">
        {{btn.iconName}}
      </i>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="objectKeys(tableSettings.columnHeaders)"></tr>
  <tr mat-row *matRowDef="let row; columns: objectKeys(tableSettings.columnHeaders);"></tr>
</table>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

<mat-paginator [pageSize]="tableSettings.pageSizeSettings.currentPageSize"
  [pageSizeOptions]="tableSettings.pageSizeSettings.pageSizeOptions">
</mat-paginator>
<button mat-button *ngIf="isUserLoggedIn" (click)="addRow()" class="orange-button mat-raised-button mat-primary">
  {{'TABLE.add_row' | translate }} </button>