<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container [matColumnDef]="isActionColumn(dataSubject)"
    *ngFor="let dataSubject of objectKeys(tableSettings.columnHeaders)">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ tableSettings.columnHeaders[dataSubject]}} </th>
    <td mat-cell *matCellDef="let element"> {{element[dataSubject] }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <i *ngIf="tableSettings.showDetailsButton && isUserLoggedIn" (click)="showDetails(element)" class="material-icons clickable"
          title="Show details"> details</i>
        <i *ngIf="tableSettings.showEditButton && isUserLoggedIn" (click)="edit(element)" class="material-icons clickable" title="Edit">
          edit</i>
        <i *ngIf="tableSettings.showRemoveButton && isUserLoggedIn" (click)="remove(element)" class="material-icons clickable"
          title="Remove">remove</i>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="objectKeys(tableSettings.columnHeaders)"></tr>
  <tr mat-row *matRowDef="let row; columns: objectKeys(tableSettings.columnHeaders);"></tr>
</table>

<mat-paginator [pageSize]="tableSettings.pageSizeSettings.currentPageSize"
  [pageSizeOptions]="tableSettings.pageSizeSettings.pageSizeOptions">
</mat-paginator>