table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 1000px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.clickable-cell {
    cursor: pointer;
    color: blue;
}

.clickable-cell:hover {
    text-decoration: underline;
}

i {
    line-height: unset;
}

.orange-button {
    background-color: #FA8320;
    color: white;
}

.table-filter {
    background-color: whitesmoke;
    opacity: 0.75;
    width: 100%;
}