<div class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-header">
        <a class="navbar-left logo-hover" routerLink="/">
            <div class="logo"></div>
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link nav-link-fade-up" routerLink="/">{{ 'HOME.home' | translate }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-fade-up" routerLink="/teams">{{ 'HOME.teams' | translate }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-fade-up" routerLink="/players">{{ 'HOME.players' | translate }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-fade-up" routerLink="/stats-upload">{{ 'HOME.stats_upload' | translate }}</a>
        </li>
    </ul>
    <mat-form-field class="dropdown nav-item ml-auto">
        <mat-label>{{'HOME.select_language' | translate}}</mat-label>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage()">
            <mat-option value="rs">Srpski</mat-option>
            <mat-option value="en">English</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="dropdown nav-item ml-auto">
        <p>
            <span class="nav-link nav-link-fade-up">
                {{ 'HOME.welcome_msg' | translate: {'firstName': currentUser.firstName, 'lastName': currentUser.lastName } }}
            </span>
        </p>
        <div class="dropdown-content">
            <a class="nav-link" routerLink="/">{{ 'HOME.profile' | translate }}</a>
            <a class="nav-link" routerLink="/" (click)="logout()">{{ 'HOME.logout' | translate }}</a>
            <!-- TODO login button if not logged in -->
        </div>
    </div>
</div>


<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>