<h1 mat-dialog-title>{{dialogTitle}}</h1>
<mat-dialog-content class="modal-background">
    <div *ngFor="let x of item | keyvalue">
        <mat-form-field *ngIf="propIsValid(x.key)">
            <!-- TODO pretty print x.key (custom pipe lastName -> Last name) -->
            <input placeholder="{{'COMMON.' + x.key | translate }}" matInput (change)="onChange(x)" [(ngModel)]="x.value">
            <!-- [(ngModel)]="item[x.key]" -->
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="modal-background">
    <button class="mat-raised-button mat-primary buttonL confirm-button" [mat-dialog-close]="item">{{'MODALS.save' | translate}}</button>
    <button class="mat-raised-button buttonR" (click)="close()">{{'MODALS.cancel' | translate}}</button>
</mat-dialog-actions>