/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  background-image: url("assets/images/bbllbkg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  /* background-color: #FF652F; */
    /* background-image: linear-gradient(90deg, #ff6600, rgb(0, 0, 0)); */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable{
  cursor: pointer;
}


